.tableborder {
  padding: 10px;

  border: 1px solid #2a2a2a;
}
.trborder {
  padding: 10px;
  border: 1px solid #2a2a2a;
}
.thborder {
padding: 10px;
padding-right: 90px;
border: 1px solid #2a2a2a;
}
.tdborder {
padding: 10px;
border: 1px solid #2a2a2a;
}